<h2>Introduction</h2>
<div class="content">
	<div class="wrapper">
		<h4>News Content Analysis is a web mashup developed was part of
			the course requirements for CAB432. The purpose of the mashup
			is to allow users to view top headlines in given countries with
			content labels attached, and then search top headlines with
			the same content label.
		</h4>
	</div>
</div>
<h2>This application is made by 2 APIs below: </h2>
<div class="row_api">
	<div class="column">
		<h2>News API</h2>
		<img src="https://i1.wp.com/blog.api.rakuten.net/wp-content/uploads/sites/2/2019/01/null-96.png?zoom=2.625&resize=352%2C231&ssl=1" alt="">
		<h4>News API indexes articles from over 30,000 worldwide sources</h4>

	</div>
	<div class="column">
		<h2>Google NLP API</h2>
		<img src="https://www.drupal.org/files/project-images/Google-logos-02_1.png">
		<h4>Derive insights from unstructured text using Google machine learning.</h4>
	</div>
</div>

