<h2 class="page-header">News Content Analysis</h2>
<div id="my-div">
	<a href="/search" id="au">News Australia</a>
	<a href="/search" id="us">News USA</a>
	<a href="/search" id="cn">News China</a>
	<a href="/search" id="hk">News Hong Kong</a>
	<a href="/search" id="ru">News Russia</a>
</div>