<h2 class="page-header">Choose the country</h2>
<div class="container-image">
  <a href="/search/us" id='us'><img href="/search/us" src="https://miro.medium.com/max/2470/0*o0-6o1W1DKmI5LbX.png" alt="1"></a>
  <a href="/search/au" id='au'><img src="https://www.flagworld.com.au/media/catalog/product/cache/1/image/650x/040ec09b1e35df139433887a97daa66f/j/3/j31hf.jpg" alt="2"></a>
  <a href="/search/gb" id='gb'><img src="https://images-na.ssl-images-amazon.com/images/I/612-eO6gP3L._SL1500_.jpg" alt="3"></a>
  <a href="/search/ca" id='ca'><img src="https://www.graphicmaps.com/r/w1047/images/flags/ca-flag.jpg" alt="4"></a>
</div>

